@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  .swiper-button-next {
    color: gray;
    transition: all 0.2s;
    display: none;
  }
  
  .swiper-button-prev {
    color: gray;
    transition:  0.2s;
    display: none;
  }
  .swiper-pagination-bullet  {
    background-color:black;
    
  }
  .MuiDataGrid-columnHeaderTitle{
   color:gray;
   font-weight:700 ;
  }
  .image-carousel {
    width: auto;
    margin: auto;
  }
  
  .main-swiper img {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }
  
  .thumbs-swiper img {
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: 0.7;
    border: 2px solid transparent;
    transition: all 0.3s;  
  }
  
  .thumbs-swiper .swiper-slide-thumb-active img {
    opacity: 1;
    border-color: black; /* Highlight color */
    border-radius: 8px;
    
  }
  .swiper-button-prev:hover ,.swiper-button-next:hover {
    color:black;
  }
  
}